
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400;700&family=Poppins:wght@100;400;600;700&display=swap');
@import "tailwindcss";
:root {
    --BrightRed: hsl(12, 88%, 59%);
    --DarkBlue: hsl(228, 39%, 23%);
    
    
    --DarkGrayishBlue: hsl(227, 12%, 61%);
    --VeryDarkBlue: hsl(233, 12%, 13%);
    --VeryPaleRed: hsl(13, 100%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
  }
  

* {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    font-family: 'Be Vietnam Pro', sans-serif;
  }


 
 
  
 